/assets
/Lib

/Mods/VSCreativeMod.dll
/Mods/VSCreativeMod.pdb
/Mods/VSEssentials.dll
/Mods/VSEssentials.pdb
/Mods/VSSurvivalMod.dll
/Mods/VSSurvivalMod.pdb

credits.txt
Eto.dll
fplay.ico
FPlay.SU - Vintage Story.url
FPlay.SU.url
ModMaker.deps.json
ModMaker.dll
ModMaker.dll.config
ModMaker.exe
ModMaker.pdb
ModMaker.runtimeconfig.json
Mods.7z
unins000.dat
unins000.exe
uninstall.ico
Vintagestory.deps.json
Vintagestory.dll
Vintagestory.exe
VintageStory.ico
Vintagestory.pdb
Vintagestory.runtimeconfig.json
VintagestoryAPI.dll
VintagestoryAPI.pdb
VintagestoryAPI.xml
VintagestoryLib.dll
VintagestoryLib.pdb
VintagestoryServer.deps.json
VintagestoryServer.dll
VintagestoryServer.exe
VintagestoryServer.pdb
VintagestoryServer.runtimeconfig.json
VSCrashReporter.deps.json
VSCrashReporter.dll
VSCrashReporter.exe
VSCrashReporter.pdb
VSCrashReporter.runtimeconfig.json
VSCrashReporterLib.dll
VSCrashReporterLib.pdb